{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "bracketSameLine": false,
  "plugins": ["prettier-plugin-tailwindcss"],
  "endOfLine": "auto",
  "tailwindConfig": "./tailwind.config.ts"
}
