@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --white: #ffffff;
  --gray-100: #f7f7fa;
  --gray-200: #e4e5f0;
  --gray-300: #c6cada;
  --gray-400: #8f95b2;
  --gray-500: #474d66;
  --gray-600: #3b415b;

  --green-100: #eef9f6;
  --green-200: #4cbfa4;
  --green-300: #32a68a;

  --red-50: #fbeded;
  --red-100: #d14343;

  --purple-100: #8e66ff;

  --yellow-100: #fdd181;
}

.dark {
  --background: #121212;
  --white: #e4e4e4;
  --gray-100: #3b415b;
  --gray-200: #474d66;
  --gray-300: #8f95b2;
  --gray-400: #c6cada;
  --gray-500: #e4e5f0;
  --gray-600: #f7f7fa;

  --green-100: #3a8f76;
  --green-200: #4cbfa4;
  --green-300: #a5e5d1;

  --red-50: #8a1c1c;
  --red-100: #d14343;
  --red-200: #f37474;

  --purple-100: #b095ff;

  --yellow-100: #e7a832;
}

body {
  color: var(--gray-500);
  background: var(--background);
}

/* quill editor custom style */
.quill-custom {
  @apply grid h-full w-full;
  grid-template-rows: 1fr max-content;

  .ql-editor {
    @apply p-0;
  }
  .ql-editor.ql-blank::before {
    @apply left-0 not-italic text-gray-400;
  }
  .ql-container {
    @apply overflow-y-auto font-sans text-16;
  }
  .ql-container.ql-snow {
    @apply border-0;
  }
  .ql-toolbar.ql-snow {
    @apply order-last rounded-full border-gray-200 text-gray-400;
  }
  .ql-snow .ql-stroke {
    stroke: var(--gray-400);
  }
  .ql-snow .ql-fill,
  .ql-snow .ql-stroke.ql-fill {
    fill: var(--gray-400);
  }
  .ql-snow .ql-picker.ql-header .ql-picker-label::before,
  .ql-snow .ql-picker.ql-header .ql-picker-item::before {
    color: var(--gray-400);
  }
}
